$color-principal: #f4f4f4;

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $color-principal;
    color: #333;
    line-height: 1.6;

}

a {
    text-decoration: none;
    color: #ff5a5f;
    transition: color 0.3s ease;
}

