$color-principal:#f4f4f4;
$color-components: rgb(18, 18, 24);
$color-hover:rgb(61, 68, 126);
$fontsize-main: 16px;

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $color-principal;
    color: #333;
    line-height: 1.6;

}

a {
    text-decoration: none;
    color: #ff5a5f;
    transition: color 0.3s ease;
}

@mixin text ($font-w, $color, $text-a){
    font-family: 'Montserrat', sans-serif;
    font-weight: $font-w;
    color: $color;
    text-align: $text-a;
}

h1 {
    @include text (bold, #111, center);
}

h2, h3 {
@include text (bold, #111, left);
}


main {
    section {
    margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    text-align: justify;
    }
    img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }
        h2 {
            font-size: 24px;
            margin-bottom: 10px;
         }
         p {
            font-family: "Roboto", serif;
            font-size: $fontsize-main;
            color: #555;
            margin-bottom: 10px;
            
        }
            a {
                display: inline-block;
                margin-top: 10px;
                background-color: $color-components;
                color: $color-principal;
                padding: 10px 20px;
                border-radius: 5px;
                font-size: $fontsize-main;

            }

            a:hover {
                transition: 0.5s ease;
                background-color: $color-hover;
            }
}

